Tuple and Dictionary

In [ ]:
#Task 1
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))
print(a_tuple[3][3])

400

In [ ]:
#Task 2
tuple1=(10, 20, 24, 25, 26, 35, 70)
tuple2=tuple1[2:len(tuple1)-2]
print(tuple2)

(24, 25, 26)

In [ ]:
#Task 3
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)
print("Size of the tuple is :",len(book_info))
for items in book_info:
  print(items)

Size of the tuple is : 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

In [ ]:
#Task 4

book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)

a,b,c,d=book_info
print(a[1],"won the",a[0],"category with",a[2],"votes")
print(b[1],"won the",b[0],"category with",b[2],"votes")
print(c[1],"won the",c[0],"category with",c[2],"votes")
print(d[1],"won the",d[0],"category with",d[2],"votes")

The Silent Patient won the ' Best Mystery & Thriller 'category with 68821 votes
The Institute won the Best Horror category with 75717 votes
The five won the Best History & Biography category with 31783 votes
The Testaments won the Best Fiction category with 98291 votes

In [ ]:
#Task 5

count=0
tuple1=(10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
val=int(input("Enter a number:"))
for i in tuple1:
  if i==val:
    count+=1
  else:
    continue
print(val,"appears",count,"times in the tuple")

Enter a number:10
10 appears 3 times in the tuple

In [ ]:
#Task 6

tuple1=('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')

list1=[]
newlist=[]
for i in tuple1:
  list1.append(i)

for j in range(len(list1)-1,-1,-1):
  newlist.append(list1[j])
print(tuple(newlist))

('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

In [ ]:
#TASK-7

dict1={'Harry':15, 'Draco':8, 'Nevil':19}
dict2={'Ginie':18, 'Luna': 14}
my_dict={**dict1,**dict2}
print(my_dict)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [ ]:
#TASK-8

values=[]
entry2=""
sum=0
count=0
avg=0
entry1=input("Enter the dictionary:")
for i in entry1:
  if i=="{":
    continue
  elif i=="}":
    continue
  else:
    entry2+=i
entry2=entry2.split(",")
for element in entry2:
  a=element.split(":")
  values.append(a[1])
for val in values:
  sum+=int(val)
  count+=1
avg=sum/count
print("Average is",avg)

Enter the dictionary:{'Jon': 100, 'Dan':200, 'Rob':300}
[' 100', '200', '300']
Average is 200.0

In [ ]:
#TASK-9

new_dict={}
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}

entry=int(input("Enter a number:"))
for key,value in exam_marks.items():
  if entry<=value:
    new_dict[key]=value
  else:
    continue
print(new_dict)

Enter a number:190
{'Alden Cantrell': 200, 'Pierre Cox': 190}

In [ ]:
#TASK-10

num=0
max=0
entry={'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}
for key,value in entry.items():
  num=value
  if max<num:
    max=num
    maxk=key

  else:
    continue

print("The highest selling book genre is",maxk," and the number of books sold are",max)

The highest selling book genre is mystery  and the number of books sold are 15

In [ ]:
#TASK-11

new_dict={}
entry=input("Enter a string:")
new_str=""
for i in entry:
 if i==" ":
   continue
 else:
   new_str+=i
for j in new_str:
  if j in new_dict:
    new_dict[j]+=1
  else:
    new_dict[j]=1
print(new_dict)

Enter a string:python programming is fun
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [ ]:
#TASK-12

count=0
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
list1=[]
for value in dict_1.values():
  list1.extend(value)
for element in list1:
  count+=1
print(count)

9

In [ ]:
#TASK-13

list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]

newdict = {}
for key,value in list_1:
    if key in newdict:
        newdict[key].append(value)
    else:
        newdict[key] = [value]


print(newdict)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [ ]:
#Task 20
tuple1=[(2, 3), (4, 5), (6, 7), (2, 8)]
list1=[]
for element in tuple1:
  var=element[0]*element[1]
  list1.append(var)
print(list1)

[6, 20, 42, 16]

In [ ]:
#Task 21
str=""
tuple1 = ( [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12])
val=input("Enter")
for element in range(0,len(tuple1)-1):
  element[2]=val
print(tuple1)

Enterabc

TypeError: ignored

In [ ]:
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
for key in dict_1.keys():
  print(key)

A
b
c