Functions

In [ ]:
#Task1
def even_checker(x):
  if x%2==0:
    print("Even!!")
  else:
    print("Odd!!")
even_checker(2)

Even!!

In [ ]:
#Task2
def fibonacci(var):
  x=0
  print(x,end=" ")
  y=1
  print(y,end=" ")
  while x+y<=var:
    z=x+y
    x=y
    y=z
    print(z,end=" ")

fibonacci(10)

0 1 1 2 3 5 8

In [ ]:
#Task 3
def foo_moo(var):
  if var%2==0 and var%3==0:
    output="FooMoo"
  elif var%3==0:
    output="Moo"
  elif var%2==0:
    output="Foo"
  else:
    output="Boo"
  return output
print(foo_moo(6))

FooMoo

In [ ]:
#Task 4
def function_name(entry):
  str1=""
  Ucount=0
  Lcount=0
  for i in entry:
    if i==" ":
      continue
    else:
      str1+=i
  for j in str1:
    if 97<=ord(j)<=122:
      Lcount+=1
    elif 65<=ord(j)<=90:
      Ucount+=1
  print("No. of Uppercase characters :",Ucount)
  print("No. of Lowercase characters :",Lcount)
function_name("HaRRy PotteR")

No. of Uppercase characters : 5
No. of Lowercase characters : 6

In [ ]:
#Task 5

def calculate_tax(age,salary,job):
  age=int(input("Enter your age: "))
  salary=int(input("Enter your salary: "))
  job=input("Enter your designation: ")
  if age<18:
    tax=0
  elif "President" in job or "president" in job:
    tax=0
  elif salary<10000:
    tax=0
  elif 10000<salary<20000:
    tax=(salary*5)/100
  elif salary>20000:
    tax=(salary*10)/100
  return tax
print(calculate_tax("age","salary","job"))

Enter your age: 20
Enter your salary: 18000
Enter your designation: guh
900.0

In [ ]:
#Task 6

def day_count(days):
  days=int(input("Enter the ammount of days:"))
  year=0
  month=0
  day=0
  val=0
  val2=0
  year=days//365
  val=days%365
  month=val//30
  val2=val%30
  day=val2
  print(year,"years",month,"months",day,"days")
day_count("days")

Enter the ammount of days:2250
6 years 2 months 0 days

In [ ]:
#Task 7

def show_palindrome(x):
  str1=""
  for i in range(1,x+1):
    str1+=str(i) 
  for j in range(x-1,0,-1):
    str1+=str(j)
  return str1
print(show_palindrome(5))

123454321

In [ ]:
#Task 8

def show_palindromic(x):
  str1=""
  for i in range(1,x+1):
      str1+=str(i)
      str1+=" "
  for i in range(x-1,0,-1):
      str1+=str(i)
      str1+=" "
  return str1
def show_palindromic_triangle(y):
  str1=" "
  for i in range(1,y+1):
      str1+=(y-i)*2*" "
      str1+=(show_palindromic(i))
      print(str1,end="")
      print()
      str1=" "
  
  
show_palindromic_triangle(3)

     1
   1 2 1
 1 2 3 2 1

In [ ]:
#Task 9

def area_circumference_generator(x):
  import math
  list1=[]
  area=math.pi*(x*x)
  list1.append(area)
  circumference=2*math.pi*x
  list1.append(circumference)
  newtuple=tuple(list1)
  return newtuple
a,b=area_circumference_generator(2.5)
print(area_circumference_generator(2.5))
print("Area of the circle is",a,"and circumference is",b)

(19.634954084936208, 15.707963267948966)
Area of the circle is 19.634954084936208 and circumference is 15.707963267948966

In [ ]:
#Task 10

def function(*x):
  dict1={}
  for i in range(x[0],x[1]+1):
    dict1[i]=i*i
  return dict1
print(function(5,12))

{5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144}

In [ ]:
#Task 11

def rem_duplicate(x):
  list1=[]
  newlist=[]
  for i in x:
    list1.append(i)
  
  for j in list1:
    if j not in newlist:
      newlist.append(j)
    else:
      continue
  output=tuple(newlist)
  return output
print(rem_duplicate(("Hi", 1, 2, 3, 3, "Hi",'a', 'a', [1,2])))

('Hi', 1, 2, 3, 'a', [1, 2])

In [ ]:
#Task 12

def function_name(list1):
  count=0
  for i in list1:
    var=list1.count(i)
    if var>2:
      list1.remove(i)
      count+=1

  print("Remove:",count)
  return list1
    
print(function_name([1, 2, 3, 3, 3, 3, 4, 5, 8, 8]))

Remove: 2
[1, 2, 3, 3, 4, 5, 8, 8]

In [ ]:
#Task 13

def function(x,y,z):
  oparand=input("Enter operand: ")
  y=int(input("Enter first number: "))
  z=int(input("Enter second number: "))
  if oparand=="+":
    result=y+z
    
  elif oparand=="-":
    if y>z:
      result=y-z
    else:
      result=z-y
  elif oparand=="*":
    result=y*z
  elif oparand=="/":
    result=y/z
  return result
print(function("oparand","y","z"))

Enter operand: -
Enter first number: 5
Enter second number: 9
4

In [ ]:
#Task 14

def function(x,y):
  str1=""
  str2=""
  new_string=""
  x=input("Enter the sentence: ")
  y=int(input("Enter the position: "))
  for i in range(0,len(x)):
    if i==0:
      str1+=x[i]
    elif i%y==0:
      str2+=x[i]
      
    else:
      str1+=x[i]
  new_string=str1+str2
  return new_string
print(function("x","y"))

Enter the sentence: I love programming.
Enter the position: 3
I lveprgrmmngo oai.

In [ ]:
#Task 15

def function(order,location="Dhanmondi"):
  order=input("Enter the list:")
  order=order[1:len(order)-1]
  order=order.split(",")

  dict1={"Rice":105,"Potato":20,"Chicken":250,"Beef":510,"Oil":85}
  
  sum=0
  for i in order:
    for key,value in dict1.items():
      if i[1:-1]==key:
        sum+=value
      else:
        continue
  if location=="Dhanmondi":
      sum+=30
  else:
      sum+=70

  return sum
print(function("order","Mohakhali"))

Enter the list:["Rice", "Beef", "Rice"]
175